@model Voyager.App.ViewModels.IntegartionCredentailsViewModel
@*<div class="post-profile myQRFGridData">
        <div class="main-content form form-theme-02">
            <div class="container">

            </div>
        </div>
    </div>*@

@*<div class="enquiry-ttl-due-section">
        <h1 style="width:100%">Integartion Credentails Search Result</h1>
    </div>*@
<div class="listing-table">
    <div class="custom-mob-tbl table-responsive table-departures-dates valign-top-tbl">
        <table class="table table-bordered tbl-theme-02 dataTables" id="tblIntegratinList">
            <thead>
                <tr>
                    <th class="col-md-3">Platform</th>
                    <th class="col-md-7">Existing Users</th>
                    <th class="col-md-2" style="text-align:left;">
                        <button type="button" class="btn btn-success btn-sm" @(!Model.Integration_Search_DataList.Any()? "disabled": "") onclick="ExpToExcel();">Export List</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Integration_Search_DataList)
                {
                <tr>
                    <td class="client-detail">
                        <strong class="name">@item.Application_Name</strong>
                        <input type="hidden" name="" value="@Model.Application_Id" />
                    </td>
                    <td class="client-detail">
                        <strong class="name">@item.UserName</strong>
                        <input type="hidden" name="" value="@item.UserId" />
                    </td>
                    <td style="text-align:left;">
                        <button type="button" class="btn btn-danger btn-md" onclick="DeleteIntegrationCredentials('@item.UserId', '@item.Application_Id');">[x]</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<script src="~/datatable/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
<script src="~/datatable/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {

        $('#tblIntegratinList').DataTable({
            "ordering": false,
            "aLengthMenu": [10, 25, 50, 100],
            "iDisplayLength": 10,
            "searching": true,
            "lengthChange": true,
            "oLanguage": {
                sLengthMenu: "Show entries _MENU_",
            },
            "dom": "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5 margin-top-bottom-20'i><'col-sm-7'p>>",
        });

    });
</script>
