@model Voyager.App.ViewModels.OutBoundIntegartionCredentailsViewModel
<style>
    .row1 {
        margin-bottom: 15px !important;
    }
</style>

<div class="popup-in">
    <div class="custom-mob-tbl table-responsive">
        <h3>Out Bound Integration Credentials</h3>
        <br />
        <div class="modal-body">
            <br />
            <div class="tab-content">
                <div class="tab-pane active">
                    <div style="display:none;text-align:left;" id="divSuccessError">
                        <a class="close" title="close">×</a>
                        <strong id="stMsg"></strong> <label id="lblmsg"></label>
                    </div>
                    <form id="frmOutBoundIntegrationCredentials">
                        <div class="form-section">
                            <div class="form-group-sec">
                                <div class="row">
                                    <div class="col-xs-2 mobile-12">
                                        <label class="frm-sub-label">Selected Platform </label>
                                        @Html.DropDownListFor(m => m.Application_Id, new SelectList(Model.ApplicationList, "Attribute_Id", "AttributeName"), "Select", new { @class = "form-control filter" })
                                        @Html.ValidationMessageFor(m => m.Application_Id, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.ConfigId)
                                    </div>
                                    <div class="col-xs-3 mobile-12">
                                        <label class="frm-sub-label">Key </label>
                                        @Html.TextBoxFor(m=>m.Key, new { @class = "form-control filter" })
                                        @Html.ValidationMessageFor(m => m.Key, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-4 mobile-12">
                                        <label class="frm-sub-label">Value </label>
                                        @Html.TextBoxFor(m=>m.Value, new { @class = "form-control filter" })
                                        @Html.ValidationMessageFor(m => m.Value, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-3 mobile-12" style="text-align: left;">
                                        <button type="button" class="btn btn-success btn-sm" id="btnSearchOutBoundIntegration" onclick="SearchOutBoundIntegration();">Search</button>&nbsp;&nbsp;
                                        <button type="button" class="btn btn-success btn-sm" id="AddEditOutBound" onclick="SaveOutBoundIntegration();">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    @using (Html.BeginForm("ExportToExcel", "UserAndRoleMgmt", FormMethod.Post, new { @class = "", role = "form", id = "frmExportToExcel" }))
                    {
                        <input type="hidden" id="Exp_Application_Id" name="Application_Id" />
                        <input type="hidden" id="Exp_ContactPersonID" name="ContactPersonID" />
                        <div class="popup-in displayOutBoundIntegrationCredentialsList">
                        </div>
                    }
                    <div class="modal-footer">
                        <button title="Close (Esc)" type="button" class="btn btn-secondary close-popup">Close</button>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<script>

    function SearchOutBoundIntegration() {
        $(".ajaxloader").show();
        validateOutBoundForm(false);
        var model = $("#frmOutBoundIntegrationCredentials").serialize();
        model += '&isSearch=' + true;

        $(".ajaxloader").hide();
        $(".displayOutBoundIntegrationCredentialsList").html("");

        $.ajax({
            type: "POST",
            url: "/UserAndRoleMgmt/ViewOutBoundIntegrationCredentialsList",
            data: model,
            success: function (response) {
                $(".ajaxloader").hide();
                $(".displayOutBoundIntegrationCredentialsList").html(response.replace("action-popup ", ""));
            },
            error: function (response) {
                $(".ajaxloader").hide();
                $("#divSuccessError").addClass("alert alert-danger");
                $("#lblmsg").text("something went wrong!");
                $("#stMsg").text("Error! ");
            }
        });
    }

    function SaveOutBoundIntegration() {
        $(".ajaxloader").show();

        if (validateOutBoundForm(true)) {

            var model = $("#frmOutBoundIntegrationCredentials").serialize();

            $.ajax({
                type: "POST",
                url: "/UserAndRoleMgmt/SaveOutBoundIntegrationCredentials",
                data: model,
                success: function (response) {
                    if (response.status != undefined) {
                        if (response.status.toLocaleLowerCase() == "success") {
                            $("#divSuccessError").addClass("alert alert-success");
                            resetFormAfterAddOrDelete();
                            SearchOutBoundIntegration();
                        }
                        else {
                            response.status.toLocaleLowerCase() == "failure" ? $("#divSuccessError").addClass("alert alert-info") : $("#divSuccessError").addClass("alert alert-danger");
                        }
                        $("#divSuccessError").show();
                        $("#lblmsg").text(response.responseText);
                        $("#stMsg").text(response.status + "! ");
                    }

                    $(".ajaxloader").hide();
                    setTimeout(() => {
                        $("#divSuccessError").hide();
                    }, 3000);

                },
                failure: function (response) {
                    alert(response.responseText);
                    $(".ajaxloader").hide();
                },
                error: function (response) {
                    alert(response.responseText);
                    $(".ajaxloader").hide();
                }
            });
        }

    }

    function resetFormAfterAddOrDelete() {
        $("#AddEditOutBound").html('Save');
        $("#Key").val("");
        $("#Value").val("");
        $("#ConfigId").val("");
    }

    function validateOutBoundForm(value) {
        var flag = true;
        var Application_Id = $("#Application_Id :selected").text();

        if (value && (Application_Id == "" || Application_Id == "Select")) {
            $("#Application_Id").siblings("span").text("The Platform field is required.");
            flag = false;
        }
        else
            $("#Application_Id").siblings("span").text("");

        var Key = $("#Key").val();

        if (value && (Key == "" || Key == "undefined")) {
            $("#Key").siblings("span").text("The Key field is required.");
            flag = false;
        }
        else
            $("#Key").siblings("span").text("");

        var Value = $("#Value").val();

        if (value && (Value == "" || Value == "undefined")) {
            $("#Value").siblings("span").text("The Value field is required.");
            flag = false;
        }
        else
            $("#Value").siblings("span").text("");

        if (!flag && value) {
            $(".ajaxloader").hide();
            return false;
        }

        return true;
    }

</script>